.container {
  display: flex;
  flex-direction: row;
}

.search {
  min-width: 50%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-bar {
  min-width: 50%;
  height: 30px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-button {
  height: 30px;
  text-align: center;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.shopping-list {
  min-width: 250px;
  min-height: 705px;
  block-size: fit-content;
  border: 4px dotted transparent;
  border-color: black;
  display: flex;
  flex-direction: column;
}

.print-button {
  margin: 10px;
}

.cocktail-list {
  display: flex;
  flex-direction: column;
}

.drink-container {
  display: flex;
  border: 4px solid transparent;
  border-color: black;
  margin-bottom: 40px;
  margin-right: 40px;
}

.drink-img {
  margin: 40px;
}

.drink-details {
  margin-left: 5px;
}

.drink-name {
  margin-top: 40px;
  color: DodgerBlue;
  font-family: Arial;
}

.drink-instructions {
  min-width: 1020px;
}

.ingredients-name {
  text-align: left;
}

.add-drink-button {
  align-self: flex-end;
  margin: 30px;
  text-align: center;

  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
}
