.container {
  display: flex;
  flex-direction: column;
}

.search-container {
  align-self: center;
  display: flex;
  width: 50%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .search-container {
    width: 100%;
  }
}

.search-bar {
  flex: 9;
  height: 30px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-button {
  flex: 1;
  width: 9.75%;
  height: 36px;
  min-width: 65px;
  text-align: center;
  margin-left: 0.25%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 840px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}

.shopping-list {
  position: relative;
  width: 27.5%;
  margin-right: 5%;
  min-height: 705px;
  block-size: fit-content;
  border: 4px dotted transparent;
  border-color: black;
  flex-direction: column;
  display: flex;
}

@media (max-width: 840px) {
  .shopping-list {
    width: 80%;
    min-height: 100px;
    margin-right: 10%;
    margin-left: 10%;
  }
}

.shopping-item {
  margin: 30px;
}

.print-button {
  margin: 30px;
  margin-top: auto;
  text-align: center;

  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
}

.drink-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 2.5%;
  margin-left: 5%;
}

@media (max-width: 840px) {
  .drink-list {
    width: 90%;
  }
}

.drink-container {
  display: flex;
  border: 4px solid transparent;
  border-color: black;
  margin-bottom: 2.5%;
}

@media (max-width: 600px) {
  .drink-container {
    display: block;
  }
}

.drink-img {
  min-width: 25%;
  margin: 5%;
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .drink-img {
    width: 80px;
    height: 100px;
  }
}

@media (max-width: 600px) {
  .drink-img {
    width: 60%;
    margin: 5% 20%;
  }
}

.drink-details {
  min-width: 50%;
}

.drink-name {
  margin-top: 40px;
  color: DodgerBlue;
  font-family: Arial;
}

@media (max-width: 600px) {
  .drink-name {
    width: 60%;
    margin: 0 20%;
  }
}

.drink-instructions {
}

@media (max-width: 600px) {
  .drink-instructions {
    width: 60%;
    margin: 0 20%;
  }
}

.ingredients-name {
  text-align: left;
}

@media (max-width: 600px) {
  .ingredients-name {
    width: 60%;
    margin: 0 20%;
    text-align: left;
  }
}

.add-drink-button {
  align-self: flex-end;
  margin: 30px;
  text-align: center;

  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
}

@media (max-width: 600px) {
  .add-drink-button {
    width: 60%;
    margin: 0 20% 5% 20%;
  }
}

.toast-group {
  display: grid;
  position: absolute;
  justify-items: center;
  justify-content: center;
  gap: 1vh;
}

.toaster {
  visibility: hidden;
}

.toaster-show {
  min-width: 250px;
  color: #fff;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 30px;
  visibility: visible;
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
